/* code comment for CSS*/ 

* { 
margin: 5;
padding: 5;
}
body {
font-size: 16px;
font-weight:400;
font-color: #0189ff;
font-family: sans-serif;
}


/*CSS header starts*/
.logo{}
.logo img{

}
.menu {}
.menu ul{}
.menu ul li {}
.menu ul li a{}
.menu ul li a:hover{}
/*CSS header closes*/